.App {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-controls {
  margin-top: 40px;
  border: 1px solid #eee;
  padding: 10px 40px 20px 40px;
  border-radius: 10px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.App-controls-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.App-controls-range {
  display: flex;
}

.App-controls-range label {
  margin-left: 15px;
}
